Repository SHARE-PLATE/frontend, pull requests merged in 2022-09, with the labels that each got.

#78 [Khan] 키워드 페이지 레이아웃
  src/assets/icons/index.tsx
  src/assets/icons/x_icon.svg
  src/components/KeywordBox/KeywordBox.style.ts
  src/components/KeywordBox/KeywordTable.tsx
  src/components/KeywordBox/KeywordTableHeader.tsx
  src/components/KeywordBox/index.tsx
  src/components/KeywordInput/KeywordInput.style.ts
  src/components/KeywordInput/index.tsx
  src/components/MyMenu/index.tsx
  src/components/PreviewShareList/PreviewShareList.style.ts
  src/components/PreviewShareList/index.tsx
  src/components/RegisteredKeyword/RegisteredKeyword.style.ts
  src/components/RegisteredKeyword/index.tsx
  src/components/UserMenu/UserMenu.style.tsx
  src/components/UserMenu/index.tsx
  src/components/common/BackTitleHeader/BackTitleHeader.style.ts
  src/components/common/BackTitleHeader/index.tsx
  src/constants/mentions.ts
  src/constants/pathName.ts
  src/constants/userMenu.ts
  src/data/keyword.ts
  src/pages/AddKeyword/AddKeyword.style.ts
  src/pages/AddKeyword/index.tsx
  src/pages/History/index.tsx
  src/pages/Keyword/Keyword.style.ts
  src/pages/Keyword/index.tsx
  src/pages/SearchShare/index.tsx
  src/pages/ShareRegistration/index.tsx
  src/router/index.tsx
  src/type/keyword.ts
Labels: Khan, Feature, Style

#84 [Khan] 모달 스타일 변경
  src/assets/icons/addDelivery.svg
  src/assets/icons/addIngredient.svg
  src/assets/icons/form.svg
  src/assets/icons/formClose.svg
  src/assets/icons/index.tsx
  src/components/FileRegistrationFailedModal/FileRegistrationFailedModal.style.ts
  src/components/FileRegistrationFailedModal/index.tsx
  src/components/Portal/Portal.style.tsx
  src/components/ShareForm/FileContainer.tsx
  src/components/ShareFormButton/ShareFormButton.style.tsx
  src/components/ShareFormButton/index.tsx
  src/components/common/Modal/Modal.style.tsx
  src/components/common/Modal/index.tsx
Labels: Khan, Feature, Style, Fix

#85 [JinJeon] 주소 설정 기능 추가
  public/index.html
  src/api/address.ts
  src/api/shareRecommended.ts
  src/components/AddressDetail/AddressDetail.style.tsx
  src/components/AddressDetail/index.tsx
  src/components/AddressHomeCompany/AddressHomeCompany.style.tsx
  src/components/AddressHomeCompany/addressHomeCompanyInfo.ts
  src/components/AddressHomeCompany/index.tsx
  src/components/AddressList/index.tsx
  src/components/AddressListItem/index.tsx
  src/components/AddressMap/AddressMap.style.ts
  src/components/AddressMap/index.tsx
  src/components/AddressMap/locationMarker.tsx
  src/components/AddressPortal/AddressPortal.style.tsx
  src/components/AddressPortal/index.tsx
  src/components/AddressRegistered/AddressRegistered.style.tsx
  src/components/AddressRegistered/index.tsx
  src/components/AddressSetting/AddressSetting.style.tsx
  src/components/AddressSetting/index.tsx
  src/constants/defaultLocation.ts
  src/constants/words.ts
  src/hooks/useGeolocation.tsx
  src/hooks/useSetHomeCompany.tsx
  src/pages/Keyword/Keyword.style.ts
  src/store/localStorage.ts
  src/store/location.ts
  src/store/selectedAddress.ts
Labels: JinJeon, Khan, Feature, Refactor

#87 [JinJeon] image container 생성 ∙ share form button, modal 리펙토링
  src/api/chat.ts
  src/assets/icons/form.svg
  src/components/Chat/Chat.style.tsx
  src/components/Chat/index.tsx
  src/components/ChatroomDetailInfo/ChatroomDetailInfo.style.tsx
  src/components/ChatroomDetailInfo/index.tsx
  src/components/ChatroomsItem/ChatroomsItem.style.tsx
  src/components/ChatroomsItem/index.tsx
  src/components/ImgContainer/ImgContainer.style.tsx
  src/components/ImgContainer/index.tsx
  src/components/NavigationBar/NavigationBar.style.tsx
  src/components/NavigationBar/index.tsx
  src/components/PreviewShareListBigSizeImage/PreviewShareListBigSizeImage.style.ts
  src/components/PreviewShareListBigSizeImage/index.tsx
  src/components/PreviewShareListCenterImage/index.tsx
  src/components/PreviewShareListLeftImage/PreviewShareListLeftImage.style.ts
  src/components/PreviewShareListLeftImage/index.tsx
  src/components/ShareDetailHeader/ShareDetailHeader.style.ts
  src/components/ShareDetailHeader/index.tsx
  src/components/ShareDetailInfo/ShareDetailInfo.style.ts
  src/components/ShareDetailInfo/index.tsx
  src/components/ShareFormButton/index.tsx
  src/components/ShareListItemHalfImage/ShareListItemHalfImage.style.tsx
  src/components/ShareListItemHalfImage/index.tsx
  src/components/ShareListItemLongImage/ShareListItemLongImage.style.tsx
  src/components/ShareListItemLongImage/index.tsx
  src/components/UserInfoWithFollow/UserInfoWithFollow.style.tsx
  src/components/UserInfoWithFollow/index.tsx
  src/components/common/Modal/Modal.style.tsx
  src/components/common/Modal/index.tsx
  src/constants/api.ts
  src/constants/pathName.ts
  src/store/chatroomDetail.ts
  src/store/chatrooms.ts
Labels: JinJeon, Refactor, Style, Fix

#90 [JinJeon] 쉐어 등록 페이지 내 주소 등록 기능 추가
  src/components/Address/index.tsx
  src/components/AddressDetail/index.tsx
  src/components/AddressHomeCompany/index.tsx
  src/components/AddressListItem/index.tsx
  src/components/AddressMap/index.tsx
  src/components/AddressPortal/index.tsx
  src/components/AddressRegistered/index.tsx
  src/components/ShareForm/TextContainer.tsx
  src/hooks/useSetHomeCompany.tsx
  src/pages/ShareRegistration/index.tsx
  src/store/address.ts
  src/store/localStorage.ts
  src/store/location.ts
  src/store/selectedAddress.ts
  src/type/address.ts
Labels: JinJeon, Feature, Refactor

#96 [JinJeon] 알림 페이지 레이아웃 생성 및 삭제 기능 설정
  src/App.tsx
  src/api/notice.ts
  src/api/shareList.ts
  src/assets/icons/index.tsx
  src/assets/icons/noticeActivityEmpty.svg
  src/assets/icons/noticeActivityFull.svg
  src/components/LoginPortal/LoginPortal.style.tsx
  src/components/LoginPortal/index.tsx
  src/components/MainContents/index.tsx
  src/components/MainHeader/index.tsx
  src/components/NoticeActivity/NoticeActivity.style.tsx
  src/components/NoticeActivity/index.tsx
  src/components/NoticeContent/NoticeContent.style.tsx
  src/components/NoticeContent/data.ts
  src/components/NoticeContent/index.tsx
  src/components/NoticeDeleteBtn/NoticeDeleteBtn.style.tsx
  src/components/NoticeDeleteBtn/index.tsx
  src/components/NoticeKeyword/NoticeKeyword.style.tsx
  src/components/NoticeKeyword/index.tsx
  src/components/PreviewShareListLeftImage/index.tsx
  src/components/Tabs/Tabs.styled.tsx
  src/components/Tabs/index.tsx
  src/constants/api.ts
  src/constants/mentions.ts
  src/constants/words.ts
  src/hooks/useShareListTabsInfo.tsx
  src/pages/History/index.tsx
  src/pages/Notice/Notice.style.tsx
  src/pages/Notice/index.tsx
  src/pages/ShareList/ShareList.style.tsx
  src/pages/ShareList/index.tsx
  src/router/index.tsx
  src/store/filterShareList.ts
  src/store/notice.ts
  src/styles/GlobalStyle.tsx
  src/styles/theme.tsx
Labels: JinJeon, Feature, Refactor, Style

#97 [Khan] 쉐어요청 api 요청 & 메인화면 캐러셀
  src/api/shareList.ts
  src/assets/img/advert.png
  src/assets/img/advertDelivery.png
  src/assets/img/advertIngredient.png
  src/assets/img/index.tsx
  src/components/Advertisement/Advertisement.style.tsx
  src/components/Advertisement/index.tsx
  src/components/Carousel/Carousel.style.tsx
  src/components/Chat/index.tsx
  src/components/ChatroomDetailInfo/index.tsx
  src/components/ChatroomsItem/index.tsx
  src/components/FileRegistrationFailedModal/index.tsx
  src/components/NoticeActivity/index.tsx
  src/components/NoticeKeyword/index.tsx
  src/components/PreviewShareListBigSizeImage/index.tsx
  src/components/PreviewShareListLeftImage/index.tsx
  src/components/PreviewShareListLongImage/index.tsx
  src/components/ShareDetailHeader/index.tsx
  src/components/ShareDetailInfo/ShareDetailInfo.style.ts
  src/components/ShareDetailInfo/index.tsx
  src/components/ShareForm/FileContainer.tsx
  src/components/ShareForm/TextContainer.tsx
  src/components/ShareListItemCenterImage/index.tsx
  src/components/ShareListItemHalfImage/index.tsx
  src/components/ShareListItemLongImage/index.tsx
  src/components/UserInfoWithFollow/index.tsx
  src/components/common/FailedModal/FailedModal.ts
  src/components/common/FailedModal/index.tsx
  src/components/common/ImgContainer/ImgContainer.style.tsx
  src/components/common/ImgContainer/index.tsx
  src/constants/api.ts
  src/constants/mentions.ts
  src/custom.d.ts
  src/pages/Main/Main.style.tsx
  src/pages/ShareRegistration/index.tsx
Labels: Khan, Feature, Refactor

#99 [Khan] 내 주변 페이지 레이아웃
  src/assets/icons/hamburger.svg
  src/assets/icons/index.tsx
  src/assets/icons/offClickBar.svg
  src/assets/icons/onClickBar.svg
  src/components/AddressDetail/index.tsx
  src/components/MainHeader/MainHeader.style.tsx
  src/components/MainHeader/index.tsx
  src/components/MapArea/CurrentLocationMarker.tsx
  src/components/MapArea/MapArea.style.ts
  src/components/MapArea/ShareListSlide.tsx
  src/components/MapArea/index.tsx
  src/components/NavigationBar/index.tsx
  src/components/ShareMapHeader/index.tsx
  src/constants/defaultLocation.ts
  src/constants/pathName.ts
  src/pages/AddKeyword/AddKeyword.style.ts
  src/pages/AddKeyword/index.tsx
  src/pages/ShareList/index.tsx
  src/pages/ShareMap/ShareMap.style.ts
  src/pages/ShareMap/index.tsx
  src/router/index.tsx
  src/store/location.ts
  src/store/shareList.ts
  src/store/shareMap.ts
Labels: Khan, Feature, Refactor

#101 [Khan] 키워드 API 요청 및 에러처리
  src/api/keyword.ts
  src/components/KeywordAddressListItem/index.tsx
  src/components/KeywordBox/KeywordBox.style.ts
  src/components/KeywordBox/KeywordTableHeader.tsx
  src/components/KeywordBox/index.tsx
  src/components/KeywordDeleteModal/index.tsx
  src/components/RegisteredKeyword/RegisteredKeyword.style.ts
  src/components/RegisteredKeyword/RegisteredKeywordItem.tsx
  src/components/RegisteredKeyword/index.tsx
  src/components/common/FailedModal/FailedModal.ts
  src/constants/api.ts
  src/constants/mentions.ts
  src/pages/AddKeyword/AddKeyword.style.ts
  src/pages/AddKeyword/index.tsx
  src/type/keyword.ts
Labels: Khan, Feature, Fix

#106 [JinJeon] 로그인 확인 관련 기능 설정
  src/App.tsx
  src/api/account.ts
  src/assets/icons/form.svg
  src/assets/img/advert.png
  src/assets/img/advertDelivery.png
  src/assets/img/advertIngredient.png
  src/components/Address/Address.style.tsx
  src/components/AddressSetting/AddressSetting.style.tsx
  src/components/HomeLogin/HomeLogin.style.tsx
  src/components/HomeLogin/index.tsx
  src/components/Loading/Loading.style.tsx
  src/components/Loading/index.tsx
  src/components/LoginArea/LoginArea.style.tsx
  src/components/LoginArea/index.tsx
  src/components/LoginPortal/LoginPortal.style.tsx
  src/components/LoginPortal/index.tsx
  src/components/MainContents/index.tsx
  src/components/MainHeader/index.tsx
  src/components/MyMenu/MyMenu.style.tsx
  src/components/NavigationBar/index.tsx
  src/components/Portal/index.tsx
  src/components/SearchRecent/SearchRecent.style.tsx
  src/components/ShareDetailInfo/ShareDetailInfo.style.ts
  src/components/ShareFormButton/ShareFormButton.style.tsx
  src/components/ShareFormButton/index.tsx
  src/components/ShareListItemLongImage/index.tsx
  src/components/UserInfo/UserInfo.style.tsx
  src/components/UserInfo/index.tsx
  src/components/common/Icon/Icon.style.ts
  src/components/common/Icon/index.tsx
  src/constants/api.ts
  src/constants/mentions.ts
  src/constants/words.ts
  src/hooks/useCheckIsLogin.tsx
  src/pages/ChatroomDetail/ChatroomDetail.style.tsx
  src/pages/ChatroomDetail/index.tsx
  src/pages/Chatrooms/Chatrooms.style.tsx
  src/pages/Chatrooms/index.tsx
  src/pages/Error/index.tsx
  src/pages/LoginCallback/index.tsx
  src/pages/NotFound/index.tsx
  src/router/ProtectedRoute.tsx
  src/store/navigation.ts
  src/store/thumbnailImageUrl.ts
  src/store/user.ts
  src/styles/theme.tsx
  src/utils/getTokenHeaders.ts
  src/utils/localStorage.ts
Labels: JinJeon, Feature, Style

#112 [Khan]메인 페이지 캐러셀 디자인 수정
  src/assets/icons/chevronDown.svg
  src/assets/img/advert.png
  src/assets/img/advertDelivery.png
  src/assets/img/advertIngredient.png
  src/components/Advertisement/Advertisement.style.tsx
  src/components/Advertisement/index.tsx
  src/components/Carousel/Carousel.style.tsx
  src/components/Carousel/index.tsx
  src/components/KebabMenu/KebabMenu.style.ts
  src/components/PreviewShareListLeftImage/PreviewShareListLeftImage.style.ts
  src/components/PreviewShareListLeftImage/index.tsx
  src/components/PreviewShareListLongImage/PreviewShareListLongImage.style.tsx
  src/components/PreviewShareListLongImage/index.tsx
  src/components/ShareDetailHeader/index.tsx
  src/components/SuggestedSearchTerms/SuggestedSearchTerms.style.ts
  src/components/SuggestedSearchTerms/index.tsx
  src/components/WishHeart/WishHeart.style.ts
  src/components/WishHeart/index.tsx
  src/pages/Main/index.tsx
  src/styles/theme.tsx
Labels: Khan, Feature, Style
